.start-header{
  padding: 20px 15px 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo span{
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.logo span:first-child{
  color: red;
  font-size: 1.5rem;
}

.signInBtn{
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.createAccount{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.createAccBtn{
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-height: 52px;
  transition: all 100ms cubic-bezier(.23,1,.32,1);
  padding: .25rem 1.875rem 0.4rem;
  color: #0074bf;
  border: 1px solid #0074bf;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}
.createAccBtn:hover{
  color: white;
  background-color: #0074bf;
  cursor: pointer;
}

@media (max-width: 600px){
  
  .createAccount{
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translate(0, -50%)
  }
  .createAccBtn{
    width: 100%;
  }
}