.addFolder-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.AddFolder-button{
  background: #eee;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 10px;
}
.AddFolder-button:hover{
  background: rgb(216, 171, 73);
  
}